---
interface Props {
  items: string[];
  label: string;
}

const { items, label } = Astro.props;
---

<ul class="badge-list" aria-label={label}>
  {items.map((item) => <li class="badge-list__item">{item}</li>)}
</ul>
